.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    background-image: url(../images/mosaic.png);
    background-repeat: repeat;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #040308;
    border-radius: 15px;
    border-style: double;
    border-color: #9e9fa0;
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);*/
    box-shadow: 10px 10px 50px #000;
    padding: 20px;
    gap: 10px;
}

.calcTop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calcLogo img {
    width: auto;
    height: 50px;
    object-fit: contain;
}

.calcDisplay {
    background-color: #cfe2e6;
    width: 100%;
    height: 50px;
    margin-left: auto;
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 1px #9bb5ba inset;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 0;
    overflow-x: scroll;
    white-space: nowrap;
}

.calcScroll {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.scrollBtn {
    background-color: #26252a;
    border: none;
    color: #fff;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.scrollBtn:hover {
    background-color: #5d5b62;
    transform: scale(1.1);
}

.scrollBtn:active {
    transform: scale(0.95);
}

.calcButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    gap: 10px;
}

.buttonNum {
    background-color: #26252a;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    border-radius: 10px;
    color: #fff;
}

.buttonNum:hover {
    background-color: #5d5b62;
    transform: scale(1.1);
}

.buttonNum:active {
    transform: scale(0.95);
}

.buttonClear {
    background-color: #cf2c0c;
    border-color: transparent;
    font-size: 1.5rem;
    border-radius: 10px;
    color: #fff;
}

.buttonClear:hover {
    background-color: #fd350e;
    transform: scale(1.1);
}

.buttonClear:active {
    transform: scale(0.95);
}

.buttonOperator {
    background-color: #65686f;
    border-color: transparent;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff;
}

.buttonOperator:hover {
    background-color: #a0a1a7;
    transform: scale(1.1);
}

.buttonOperator:active {
    transform: scale(0.95);
}

.calcDisplay.errorMessage {
    text-align: left;
    font-size: 0.5rem;
    letter-spacing: -0.02em;
    object-fit: cover;

}