.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.calculator {
    display: flex;
    flex-direction:column;
    width: auto;
    background-color: #040308;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10px;
}
.calcTop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calcLogo img {
    width: auto;
    height: 50px;
    object-fit: contain;
}

.calcDisplay {
    background-color: #cfe2e6;
    width: auto;
    height: 50px;
    margin-left: auto;
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calcButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    gap: 10px;
}

.buttonNum {
    background-color: #26252a;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    border-radius: 10px;
    color: #fff;
}

.buttonNum:hover {
    background-color: #5d5b62;
    transform: scale(1.1);
}

.buttonNum:active {
    transform: scale(0.95);
}

.buttonClear {
    background-color: #cf2c0c;
    border-color: transparent;
    font-size: 1.5rem;
    border-radius: 10px;
    color: #fff;
}


.buttonClear:hover {
    background-color: #fd350e;
    transform: scale(1.1);
}

.buttonOperator {
    background-color: #65686f;
    border-color: transparent;
    font-size: 1.5rem;
    color: #fff;
}

.buttonOperator:hover {
    background-color: #a0a1a7;
    transform: scale(1.1);
}

.buttonOperator:active {
    transform: scale(0.95);
}

.buttonEqual {
    background-color: #cf2c0c;
    border-color: transparent;
    font-size: 1.5rem;
    border-radius: 10px;
    color: #fff;
}

.buttonEqual:hover {
    background-color: #fd350e;
    transform: scale(1.1);
}

.buttonEqual:active {
    transform: scale(0.95);
}